<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- el ion-grid es para poder hacer filas como con otros programas -->
  <ion-grid>
    <!-- y el row para poder hacer columnas a gusto se pueden unn maximo de 12 -->
    <ion-row>
      
      <ion-col>
        <ion-card>

          <form [formGroup]="persona" (ngSubmit)="registrar()">
            <br>
            <ion-input formControlName="rut" type="text" label="Rut" labelPlacement="stacked" fill="outline"></ion-input>
            <ion-input formControlName="nombre" type="text" label="Nombre" labelPlacement="stacked" fill="outline"></ion-input>
            <ion-input formControlName="fecha_nacimiento" type="date" label="Fecha" labelPlacement="stacked" fill="outline"></ion-input>
            <ion-select formControlName="genero" label="Género" labelPlacement="stacked">
              <ion-select-option value="masculino">Masculino</ion-select-option>
              <ion-select-option value="femenino">Femenino</ion-select-option>
              <ion-select-option value="No me identifico">NO me identifico</ion-select-option>
            </ion-select>
            <!-- <ion-input type="text" label="ingrese numero celular" labelPlacement="stacked" fill="outline" ></ion-input>
            <ion-input type="text" label="Ingrese contraseña" labelPlacement="stacked" fill="outline"></ion-input>
            <ion-input type="text" label="Vuelva a ingresar contraseña" labelPlacement="stacked" fill="outline"></ion-input>
            <br> -->
            <ion-label>¿Eres terrano?</ion-label>
            <ion-radio-group formControlName="es_terrano">
                <ion-radio value="SI">SI</ion-radio>
                <ion-radio value="NO">NO</ion-radio>
            </ion-radio-group>


              <!-- si dejas el ngIf puedes editar el conalgo mucho mas cercano  -->
            <ion-input *ngIf="persona.controls.es_terrano.value=='SI'" formControlName="Nombre_planeta" type="text" label="nombre Planeta" labelPlacement="stacked "></ion-input>

           <!--  --------------------------------------------------------------------- -->
           <ion-button id="present-alert" [disabled]="persona.invalid" type="submit" size="block" color="warning">REGISTRAR</ion-button>
           <ion-alert trigger="present-alert" header="Alert!" [buttons]="alertButtons"
             (didDismiss)="setResult($event)"></ion-alert>

            <!-- ---------------------------------------------------------------- -->
          </form>
          <!-- testeo unicamente -->
          <p>{{persona.value | json}}</p>
          <p>{{persona.value.nombre}}</p>

        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>


</ion-content>